# Copia este archivo como .env y rellena los valores reales
# El archivo .env NO debe subirse a git

# Base de datos PostgreSQL
DB_URL=jdbc:postgresql://<HOST>:5432/<DB_NAME>?currentSchema=sia
DB_USERNAME=<USUARIO>
DB_PASSWORD=<CONTRASEÑA>

# JWT
# Generar con: openssl rand -base64 32
JWT_SECRET=<SECRET_BASE64>
JWT_EXPIRATION=86400000


SUPER_ADMIN_EMAIL=superadmin@example.com
SUPER_ADMIN_PASSWORD=change_me_super_admin
SUPER_ADMIN_NOMBRES=Super
SUPER_ADMIN_APELLIDOS=Admin